.login-container {
  padding-bottom: 50px;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  /* height: 75vh; */
  margin: 3rem auto;
  border-radius: 47px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid rgb(50, 99, 84);
}
.login-container #form {
  margin-bottom: 2rem;
  padding-top: 1rem;
  left: 231px;
  top: 201px;
}
.form-title {
  display: flex;
  justify-content: space-between;
}
.login-container .x {
  margin-top: 2rem;
  margin-right: 1rem;
}
.login-container .logn-btn {
  background: #aac8cd;
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 10px;
  margin-top: 60px;
  margin-left: 10px;
}
.login-container p {
  margin-top: 70px;
  position: relative;
  left: 10%;
  font-size: 14px;
}
.login-container span {
  position: relative;
  font-size: 12px;
  top: -0.1rem;
}

.login-container .email,
.login-container .password {
  width: 19rem;
  border-radius: 5%;
  padding: 10px;
  line-height: 1.25rem;
  background: #f8faf6;
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.login-container input{
  padding: 10px 0;

}

.login-container input {
  padding: 10px 0;
}

.loginbtn {
  all: unset;
  margin-left: 90px;
  margin-top: 30px;
  padding: 0.8rem 2rem;
  background: rgb(26 86 219);
  cursor: pointer;
  font-weight: 500;
  box-sizing: border-box;
  color: white;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* transition: transform 0.3s ease; */
  
}
.loginbtn:hover {
  background: #1E429F;
  /* transform: translateX(-10px); */
  
  
}
.registerLink {
  font-size: 10px;
  padding-left: 4.9rem;
}
a {
  margin-left: 4px;
}
.password-div {
  position: relative;
}
.password-div .eye {
  position: absolute;
  top: 0.75rem;
  right: 12px;
}
.recaptcha {
  height: 2rem;
  width: 4rem;
  /* margin: auto; */
  margin: 1rem 5rem;
  margin-bottom: 0rem;
  border: 2px solid rgb(50, 99, 84);
  background-image: url(../Login/re.png);
  border-radius: 5px;
}
