.findTenant-main-section img {
  width: 100%;
  /* object-fit: cover; */
  height: 13rem;/* Allow the image to adjust its height while maintaining aspect ratio */

}



.title-main-section {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}
.title-main-section h2 {
  font-size: 71px;
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
}

.main-section-hero {
  display: flex;
  flex-wrap: wrap;
    border-radius: 20px;
}
.example {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  flex: 3;
  
gap: 30px;

  margin-left: 42px;
  /* margin: 0rem 3rem; */
}
.example-card {

  width: 294px;
  /* height: 352px; */
  overflow: hidden;
  background: rgba(255, 255, 255, 0.88);
  border: 2px solid #23656c;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  /* border-radius: 47px; */
  margin: 0rem 1rem;
 

}
.image-description {
  margin: 1rem 1rem;
  position: relative;
}

.image-description span {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  /* font-family: "Source Sans Pro"; */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin: 0.15rem 0;
}
.image-description button {
  cursor: pointer;
  background-color: #c3d8d9;
  /* border-radius: 7px; */
  margin-left: 6rem;
  width: 4rem;
  border: 2px solid #23656c;
  position: absolute;
  right: 0;
}

.image11{
  
  border-radius: 15px 15px 0px 0px;


}



.image-description-title {
  display: block;
  width: 274px;
  margin-bottom: 1rem;
  margin-right: 10px;
}
.heart {
  margin-left: 4.5rem;
}
.filters {
  width: 380px;
  height: 550px;
  margin-right: 2rem;
  /* margin-left: 12.5rem; */
  margin-top: -0.3rem !important;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px; 
  flex: 1;
  margin-right: 55px;
}
.filters .filter-content div {
  /* width: 320px; */
  height: 3rem;
  display: flex;
  flex-direction: row;
  background:#6FA0DB;
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; 
}
.filters .filter-content div {
  margin-bottom: 0.97rem;
  
}
.filters .filter-content div button {
  flex-grow: 1;
  /* margin-bottom: 1rem; */
  border-radius: 10px;
}
.slider-div {
  width: 320px;
}
.slider-main {
  margin: 0 0rem 0 2rem;
}
.slider-mechanism {
  margin-right: 1rem;
}
.selected-btn {
  background: #6FA0DB;
}


@media screen and (max-width: 600px) {
  .example {
    margin-left: 7rem;
  }
}

