.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px !important;
  margin: 2.5rem auto;
  border-radius: 13px !important;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid rgb(190, 195, 194) !important;
}
.login-container #form {
  margin-bottom: 2rem;
  padding-top: 1rem;
  left: 231px;
  top: 201px;
}
.login-container .form-title1 {
  display: flex;
  justify-content: space-between;
  font-size: 6rem !important;
}
.login-container .x {
  margin-top: 2rem;
  margin-right: 1rem;
}
.login-container .logn-btn {
  background: #aac8cd;
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 10px;
  margin-top: 60px;
  margin-left: 10px;
}
.login-container p {
  margin-top: 70px;
  position: relative;
  left: 10%;
  font-size: 14px;
}
.login-container span {
  position: relative;
  font-size: 12px;
  top: -0.1rem;
}
.linkk {
  font-size: 14px;
  margin-top: 20px;
}

.logocss1 {
  margin-bottom: -50px;
  margin-top: 90px;

  margin-left: 16vh;
  height: 60px;
}
.login-container .email,
.login-container .password {
  width: 16rem;
  border-radius: 5%;
  line-height: 1.25rem;
  background: #f8faf6;
  border: 1px solid #23656c;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.login-container input {
  padding: 10px 0;
}

.loginbtn {
  all: unset;
  margin: 1rem 5rem 0.2rem 5rem;
  padding: 0.5rem 1.5rem;
  background: #aac8cd;
  /* border: 1px solid #23656c; */
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.registerNow {
  /* margin-top: 0.8rem; */
  padding: 1rem 2rem;
  font-size: 13px;
}
a {
  margin-left: 4px;
}
.password-div {
  position: relative;
  /* *************margin-top: -20px; */
}
.password-div .eye {
  position: absolute;
  top: 0.75rem;
  right: 3.5rem;
}
.hlo {
  padding-top: 15px;
}

.recaptcha {
  height: 2rem;
  width: 6rem;
  margin: 1rem 5rem;
  margin-bottom: 0rem;

  background-image: url(../Login/re.png);
  border-radius: 5px;
}
.login-container #form a {
  color: #0f1487 !important;
  font-weight: bold;
  text-decoration: underline;
  /*font-size: 13px;*/
}
